<form [formGroup]="currencyForm">
    <div class="col-25">
      <label>Amount:</label>
      <input class="amount" [disabled]="!hasHomePage" placeholder="Enter amount" formControlName="amount" maxlength="12" (keypress)="validateNo($event)"/>
    </div>
  
    <div class="col-25">
      <label>
        From:</label>
      <select  formControlName="currencyFrom" 
        [attr.disabled]="!currencyService.selectedAmount || !hasHomePage ? 'disabled' : null">
        <option *ngFor="let item of currencyList" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
  
    <div class="col-25 swapContainer">
      <input class="swapIcon"  [disabled]="!currencyService.selectedAmount || !hasHomePage" (click)="onSwapClick()" type="image" src="../../assets/swap.png" />
    </div>
    
    <div class="col-25">
      <label>
        To:</label>
      <select formControlName="currencyTo" 
        [attr.disabled]="!currencyService.selectedAmount || !hasHomePage? 'disabled' : null">
        <option *ngFor="let item of currencyList" [value]="item">
          {{ item }}
        </option>
      </select>
  
    </div>
    <a routerLink="/home"><button class="col-75 btn btn-primary" (click)="onConvertCurrency()"
      [disabled]="!currencyService.selectedAmount || !hasHomePage">Converter</button></a>
  </form>