.col-25{
    width: 25%;
    float: left;
}
.col-75{
    width: 75%;
    float: right;
    margin-top: 10px;
    
}
label{
    display: block;
}
.swapIcon{
    width: 80px;
    height: 50px;
    margin-left: 20%;
}
.button{
    float: right;
    height: 30px;
    color:#000000 ;
    margin-top: 10px;
}
select{
    min-width: 100%;
    height: 30px;
    background-color: #2c2929;
    border-color: white;
    color: white;
}
option{
    background-color: #2c2929;
    color: white;
}
.amount{
    width:80%;
    border-color: white;
    background-color: #2c2929;
    color: white;
}
form{
    height: 20vh;
    margin: 0 10px 0 10px;
    padding: 10px;
    background-color: #2c2929;
}